@page "/clients"
@inject DatabaseContext _context
@attribute [Authorize]
@rendermode InteractiveServer

<h2>Our clients</h2>

<button @onclick="Hello">hello Ap</button>


<div class="row">
    @foreach (var item in clients)
    {
        <div class="col-sm-4 mb-2">
            <Card Style="background-color: aliceblue; display: flex; justify-content: center; align-items: center;">
                <CardBody Style="height:12rem;">
                    <CardText Style="font-size: 50px; text-align: center; align-items:center" To="projects">
                        <a href="@($"clientprojects/{item.Id}")" style="text-decoration:none">@item.Name.ToUpper()</a>
                    </CardText>
                </CardBody>
            </Card>
        </div>
    }
</div>



@code {
    List<Client> clients = new List<Client>();
    protected override void OnInitialized()
    {
        clients = _context.Clients.Where(x => x.IsRemoved == false).ToList();
    }

    void Hello()
    {
        Console.WriteLine("Hello");
    }

}
