@page "/employees"
@inject DatabaseContext DB
@using Adwaith.Application.Models
@attribute [Authorize]


<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="employees/create">Create New</a>
</p>



<QuickGrid Class="table" Items="employees">
    <PropertyColumn Property="employee => employee.EmployeeName" />
    <PropertyColumn Property="employee => employee.MobileNumber" />
    <PropertyColumn Property="employee => employee.BankName" />
    <PropertyColumn Property="employee => employee.BankAccountNo" />
    <PropertyColumn Property="employee => employee.IFSC" />
    <PropertyColumn Property="employee => employee.AccountName" />
    <PropertyColumn Property="employee => employee.EmailId" />
    @* <PropertyColumn Property="employee => employee.UpdatedBy" />
    <PropertyColumn Property="employee => employee.UpdatedAt" />
    <PropertyColumn Property="employee => employee.IsRemoved" /> *@

</QuickGrid>


@code{
    IQueryable<Employee> employees;
    protected override void OnInitialized()
    {
        employees = DB.Employees.Where(x=>x.IsRemoved==false);
        
    }
}